Django==2.1.11
django-classy-tags==0.9.0
django-cms==3.6.0
django-formtools==2.1
django-sekizai==1.0.0
django-treebeard==4.3
djangocms-admin-style==1.4.0
gunicorn==19.9.0
psycopg2==2.7.7
pytz==2019.2
redis==3.3.8
